/* 기본 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 배경/폰트 설정 */
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;
  background-color: #0d0d0d;
  color: #fff;
}
